*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height: 50%;
    width:50%;
    position: relative;
    padding: 20px;
    border: 1px solid;
}

.hovered-block{
    position: absolute;
    bottom: 6%;
    z-index: 1;
    padding: 20px 45px;
    background-color:green;
    border: 1px solid black;
}

.left{
    left: 3%;
}

.center{
    left:44%
}

.right{
    right: 3%;
}

.content-block{
    background-color:aqua;
    position: absolute;
    padding: 63px 34px;
    border: 1px solid black;
    display:none;
}

.hovered-block:hover + .content-block{
    display:inline-block;
}