*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.block13 h3{
    padding: 10px 0px;
}

.block13{
    box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    height: 170px;
    background-color: blue;
    text-align: center;
    margin: 10px auto;
    padding: 0px 30px;
}

.block13 p{
    text-align: justify;
}

.block14{
    width: 1140px;
    background-color: orange;
    border-radius: 40px;
    margin: 0 auto;
  
    padding: 20px;
    box-sizing: border-box;
}

.block14 h3{
    margin-bottom: 10px;
}

.block14 p{
    text-align: justify;
}

.div-has-blocks{
    height: 60%;
    width: 100%;
    margin: 10px 0px;
}

.nested-block{
    display: inline-block;
    border-radius: 40px;
    background-color: blueviolet;
    margin: 0 auto;
    height: 100%;
    width: 40%;
    margin:10px;
    padding: 10px 40px 20px 40px;
    box-sizing: border-box;
    
}

.block15{
    margin-right: 50px;
}


